body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.hero-image {
    background-image: url("images/donation_main.jpg");
    background-color: #cccccc;
    /* filter: contrast(150%); */
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(254, 253, 255);
}

.extra {
    background-image: url("images/donation7.jpg");
    /* background-color: #cccccc; */
    opacity: 1;
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.extra .part-4 {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.part-4 h2 {
    font-size: 60px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(10, 56, 15);
    padding: 20px 35px;
    color: white;
    border-radius: 3px;

}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    justify-content: center;
}


.newitem {

    width: 150px;
    margin: 15px;
    padding-left: 80px;
    color: rgb(103, 99, 99);
    background-color: rgba(153, 151, 149, 0.629);
    border-radius: 5px;
}

.upper {
    text-align: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.upper p {
    font-size: 20px;
    color: rgb(143, 141, 141);
}

#two-hundrad {
    color: rgb(26, 45, 9);
    background-color: rgba(24, 56, 29, 0.167);
    border: 2px solid rgb(26, 45, 9);

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.wrapper.input-data {
    height: 50px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid grey;
}

.wrapper .input-data label {
    position: relative;
    margin-left: 32%;
    bottom: 40px;
    /* left: 0; */
    color: rgba(0, 0, 0, 0.438);
    pointer-events: none;
}

.last-button {
    margin-bottom: 200px;
}

.link2-button {
    text-decoration: none;
    background-color: rgb(10, 56, 15);
    padding: 20px 35px;

    margin-left: 46%;

    border-radius: 5px;

}

.donation {
    /* background-image: url(images/exp-bg.png); */
    background-repeat: no-repeat;
    background-position: left;
    text-decoration: none;
}

.part-3 {
    text-align: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.part-3 p {
    font-size: 20px;
    color: rgb(143, 141, 141);
}

.third-item {

    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    padding: 120px 15px 30px 15px;
    /* box-shadow: 10px 10px 40px gray;
    border-radius: 10px; */
}

.third-item p {
    text-align: justify;

}

.flexible {
    display: flex;
    margin-bottom: 200px;
    margin-left: 220px;
    margin-right: 220px;
    justify-content: center;
    padding-top: 20px;
}

#id-1 {
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-position: 4% 20%;
    background-color: rgba(179, 230, 230, 0.341);
}

#id-2 {
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-position: 4% 20%;
    background-color: rgba(209, 222, 172, 0.342);
}

#id-3 {
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    background-position: 4% 20%;
    background-color: rgba(235, 191, 175, 0.291);
}

.list-situation {
    text-decoration: none;
    color: white;
}

.eamil-form {
    display: flex;
    margin-bottom: 200px;
    margin-left: 220px;
    margin-right: 220px;
    justify-content: center;
    padding-top: 20px;

}

.email-submit {
    position: center;
    justify-content: center;
    width: 30%;
    height: 100px;
    margin-left: 32%;
    margin-bottom: 100px;
    padding: 100px 50px;
    background-color: rgba(209, 222, 172, 0.342);
}

.eamil-form input {
    text-decoration: none;
    background-color: rgba(168, 175, 169, 0.586);
    padding: 20px 35px;

    /* margin-left: 46%; */

    border-radius: 5px;
    border: none;
}

.eamil-form button {
    text-decoration: none;
    background-color: rgba(17, 44, 20, 0.644);
    padding: 20px 35px;

    /* margin-left: 30%; */

    border-radius: 5px;
    border: none;
}

.eamil-form span {
    font-size: 18px;
    color: white;
}


.in2 {
    font-size: 18px;
    color: white;
}

footer {

    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgba(13, 33, 15, 0.797);
}